:root {
  --border-color: #252134;
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
  background-color: #0e0c15;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;

  border-bottom: var(--border-color) 1px solid;
}

.flex-header {
  display: flex;
  align-items: center;

  padding: 0 5rem;
}

.login-main {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.logo {
  display: flex;
  width: 12rem;
  line-height: 0;
  height: 5rem;
}

.logo img {
  width: 190px;
  height: 60px;
  margin: auto;
}

.login-box {
  border: var(--border-color) 1px solid;
  border-radius: 20px;
  padding: 3rem 2rem;
  background-color: ;
}
