:root {
  --border-color: #252134;
  --first-color: #6f00ff;
  --second-color: #2B7CFF;
  --anchor-color: #409CFF;
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
  background-color: #0e0c15;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;

  border-bottom: var(--border-color) 1px solid;
}

label {
  display: block;
  margin-bottom: 5px;
}

a {
  cursor: pointer;
  color: var(--anchor-color);
  text-decoration: underline;
}

.flex-header {
  display: flex;
  align-items: center;

  padding: 0 5rem;
}

.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-height: 100vh;
}

.logo {
  display: flex;
  width: 12rem;
  line-height: 0;
  height: 5rem;
}

.logo img {
  width: 190px;
  height: 60px;
  margin: auto;
}

.login-box {
  /* border: var(--border-color) 1px solid; */
  border-radius: 20px;
  width: 20rem;
  padding: 2rem 2rem;
  background-color: rgba(38, 36, 44, 0.5);
}

.first-button {
  font-family: inherit;
  background-color: var(--first-color);
  font-weight: 600;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem 2rem;
  cursor: pointer;
  
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 30px 0;
}

.input-text {
  box-sizing: border-box;
  width: 100%;
  height: 2.8rem;
  border: #43435c 1px solid;
  border-radius: 5px;
  font-size: 1.1rem;
  color: #ada8c3;
  padding-left: 1rem;
}


.error {
  color: #ff776f;
  margin-top: 1rem;
}

.c {
  color: #ffc876;
  color: #7adb78;
  color: #858dff;
  color: #ff98e2;
  color: #ffffff;
  color: #cac6dd;
  color: #ada8c3;
  color: #757185;
  color: #3f3a52;
  color: #252134;
  color: #15131d;
  color: #474060;
  color: #43435c;
  color: #1b1b2e;
  color: #2e2a41;
  color: #6c7275;

  /* Fondo de login */
  color: #26242c;

  /* Color de fondo */
  color: #0e0c15;
}
